# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pym
*.env
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Pipenv / Poetry
Pipfile.lock
poetry.lock